table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table tr:hover {
  background-color: #ebebeb;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.animation {
  transition:
    display 0.2s allow-discrete,
    overlay 0.2s allow-discrete;

  animation: close 0.2s forwards;

  &[open] {
    animation: open 0.5s forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
